@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">欢迎</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">使用ASP.NET Core技术开发Web应用程序</a>.</p>
</div>
